:root {
  user-select: none;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root,
body {
  margin: 0;
}

:root {
  --color-bg: #fafafa;
  --color-fg: #222;
  --color-border: #222;
  --color-key-border: #222;
  --color-key-white: #fafafa;
  --color-key-white-pressed: #ccc;
  --color-key-black: #222;
  --color-key-black-pressed: #555;

  // @media (prefers-color-scheme: dark) {
  &[theme="dark"] {
    --color-bg: #000;
    --color-fg: #ccc;
    --color-border: #444;
    --color-key-border: #444;
    --color-key-white: #222;
    --color-key-white-pressed: #181818;
    --color-key-black: #000;
    --color-key-black-pressed: #141414;
  }
}

#root {
  background-color: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
  -webkit-touch-callout: none;
}
