.toolbar {
  display: flex;
  align-items: center;
}

.scrollbar {
  position: relative;
  height: 32px;
  flex: 1 1 0;
  margin: 0 16px;
  border-radius: 6px;
  box-shadow: 0 0 0 2px var(--color-border);
  overflow: hidden;
  touch-action: none;
  display: flex;
  align-items: stretch;
  background: var(--color-bg);
  transform: translateZ(0);

  .octaveLabel {
    position: relative;
    display: flex;
    text-align: center;
    place-items: end;
    place-content: center;
    flex: 1 1 0;
    font-size: 12px;
    font-weight: bold;

    &+.octaveLabel::before {
      content: '';
      position: absolute;
      pointer-events: none;
      left: 0;
      bottom: 0;
      height: 8px;
      width: 2px;
      background: var(--color-border);
    }

    .octaveLabelBlackKey {
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 0;
      width: 10%;
      height: 50%;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: color-mix(in srgb, var(--color-border) 30%, transparent);
      transform: translateX(-50%);

      &:nth-child(1) {
        left: calc(100% / 7 * 1);
      }
      &:nth-child(2) {
        left: calc(100% / 7 * 2);
      }

      &:nth-child(3) {
        left: calc(100% / 7 * 4);
      }
      &:nth-child(4) {
        left: calc(100% / 7 * 5);
      }
      &:nth-child(5) {
        left: calc(100% / 7 * 6);
      }
    }
  }

  .thumb {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    border-radius: 0;
    // border: 2px solid black;
    background-color: white;
    pointer-events: none;
    mix-blend-mode: difference;
  }
}