.container {
  position: relative;
}

.container,
.loading {
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    pointer-events: none;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 2px var(--color-border) inset;
  }
}

.loading {
  padding: 40px;
  box-sizing: border-box;
}

.piano {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  touch-action: none;
  image-rendering: pixelated;
}