.toolbar {
  display: flex;
  align-items: center;
}

@mixin button-reset {
  appearance: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

.iconButton {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  &[disabled] {
    cursor: not-allowed;
    opacity: .3;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}