.toolbar {
  display: flex;
  align-items: center;
}

.playButton {
  border: 0;
  color: inherit;
  background: var(--color-bg);
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  justify-content: center;
  box-shadow: none;
  background: var(--color-bg); // needed for vertical

  svg {
    width: 16px;
    height: 16px;
  }

  @media (max-width: 560px) {
    & {
      min-width: 40px;
      padding: 0;
      justify-content: center;
    }

    span {
      display: none;
    }

    svg {
      width: unset;
      height: unset;
    }
  }

  &:after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 6px;
    background: white;
    mix-blend-mode: difference;
  }
}

.songSelect {
  flex: 1 1 240px;
  min-width: 120px;
  height: 36px;
  padding: 0;
  margin: 0 12px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
  color: inherit;
  background: var(--color-bg);
  font: inherit;
  font-weight: 600;
}
